@import '~@blueprintjs/core/src/components/forms/common';

.CRUD-edit {
  .geometry-field {
    position: relative;
    text-align: center;
    &__or {
      display: flex;
      width: 100%;
      align-items: center;
      margin: 1rem 0;
      span {
        padding: 0 0.5rem;
      }
      &::before,
      &::after {
        content: '';
        flex-grow: 1;
        margin-top: 2px;
        border-top: 1px solid #ddd;
      }
    }
    &__col {
      border: solid #ddd;
      border-width: 1px 0;
      margin: 0.5rem 0;
      padding: 1rem 0;
    }

    &__row {
      padding: 0.5rem;
    }
    &__message {
      max-width: max-content;
      margin: auto;
    }
    .control-label {
      font-size: 1.1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      > * {
        margin: 0 0.2rem;
      }
    }
    &__reset {
      position: absolute;
      bottom: 0.5rem;
      right: 0;
    }
  }
  .mapbox-gl-draw_ctrl-draw-btn {
    display: inline-block;
    background-color: #fff;
    margin: 0 2px;
    width: 29px;
    height: 29px;
    vertical-align: middle;
    border-radius: 4px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  }
}

.details__list-edit {
  .geometry-field {
    &__col {
      margin-top: 1.8rem;
    }
  }
}

.mapbox-gl-path-container {
  float: left;
  pointer-events: auto;
  user-select: none;
  background-color: #ffffff;
  color: #182026;
  padding: 4px 8px;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.mapbox-gl-path-theme-selection__checkbox-label {
  cursor: pointer;
  padding-left: 5px;
}

.mapbox-gl-path-theme-selection {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3ms ease;
}

.mapboxgl-popup-content {
  padding: 1.2rem 0.8rem 0.8rem;
}

.mapboxgl-popup-close-button {
  padding: 0 0.5rem;
}

.mapbox-gl-path-popup-button {
  appearance: none;
  cursor: pointer;
  display: block;
  border: none;
  margin: 0.3rem 0;
  background: transparent;
  font-size: 0.8rem;
  text-align: left;
}

.mapbox-gl-path-popup-button:hover,
.mapbox-gl-path-popup-button:focus {
  color: #000;
  text-decoration: underline;
  border: 0;
}

.mapbox-gl-path-popup-button::before {
  float: left;
  margin-top: -0.1rem;
  margin-right: 0.2rem;
  vertical-align: middle;
}

.mapbox-gl-path-popup-delete::before {
  content: url('./icons/delete-point.svg');
}

.mapbox-gl-path-popup-createPointOnLine::before {
  content: url('./icons/create-point.svg');
}

.mapbox-gl-path-popup-createIntermediatePointOnLine::before {
  content: url('./icons/create-intermediate-point.svg');
}

.mapbox-gl-path-popup-loop::before {
  content: url('./icons/loop.svg');
}

.mapbox-gl-path-popup-oneWay::before {
  content: url('./icons/un-loop.svg');
}

.mapbox-gl-path-popup-disableFollowDirectionMode::before {
  content: url('./icons/un-follow-direction.svg');
}

.mapbox-gl-path-popup-enableFollowDirectionMode::before {
  content: url('./icons/follow-direction.svg');
}

.mapbox-gl-path-theme-selection__checkbox:checked ~ .mapbox-gl-path-theme-selection {
  height: auto;
  padding: 0.3rem 0;
  opacity: 1;
  margin: 0.6rem 0 0;
  border-top: 1px solid #eaeaea;
}

.mapbox-gl-path-theme-selection__radio-label {
  margin: 0.2rem 0.5rem;
  display: inline-block;
  cursor: pointer;
}
